{% extends 'figma/client-site/base.html' %}
{% block content %}
{% load static %}
<section class="hero-section">
<div class="hero-slider owl-carousel">
<div class="hs-item set-bg" data-setbg="">
<div class="container">
<div class="row">
	<div class="col-xl-6 col-lg-7 text-white">
		<span>ИМЕННЫЕ КУЛОНЫ МЕЧТЫ</span>
		<p>
			Представьте, что вы имеете единственный на свете кулон, который готовили только для тебя...✨</br>
			Вот это ДА! 🤭
		</p>
	</div>
</div>
<!--div class="offer-card text-white">
	<span>от</span>
	<h2>5000 тг</h2>
	<p>Купить сейчас</p>
</div-->
</div>
</div>
<div class="hs-item set-bg" data-setbg="{% static 'figma/img/02_8.jpg' %}">
<div class="container">
<div class="row">
	<div class="col-xl-6 col-lg-7 text-white">
		<span>🎁Нәзік жандыларға ең қатты ұнайтын сыйлық қандай екенін білесіз бе?</span>
		<p>Ең үздік шеберлердің қолынан шыққан алқамыз ешкімде жоқ, ерекше сыйлық болатынына сөз береміз👌🏻 </p>
	</div>
</div>
<!--div class="offer-card text-white">
	<span>from</span>
	<h2>$29</h2>
	<p>SHOP NOW</p>
</div-->
</div>
</div>
</div>
<div class="container">
<div class="slide-num-holder" id="snh-1"></div>
</div>
</section>
<section class="category-section spad">
<div class="container">
<div class="row">
<div class="col-lg-3 order-1 order-lg-1">
<div class="filter-widget">
<h2 class="fw-title">Категории</h2>
<ul class="category-menu">
    {% for category in categories %}
<li>
  <a href="{% url 'figma:index' category=category.id user_site='kd'%}">{{category.title}}</a>
</li>
      {% endfor %}
</ul>
</div>
</div>
<div class="col-lg-9  order-2 order-lg-2 mb-5 mb-lg-0">
<div class="row">
<div class="col-lg-12">
<div class="text-center">
<h2 class="border-b">Топ продаж</h2>
</div>   
 </div>
{%for good in goods %}
<div class="col-lg-4 col-sm-6">

<div class="product-item">
<br>
<div class="pi-pic">
<div class="tag-sale" style="margin-top: 10px;">Акция</div> 
<br>


<div>

{% if good.photo %}

<a href="{% url 'figma:detail' good=good.id user_site='kd'%}">  
<img src="{{good.photo.url}}" style="width: 300px; height: 200px;"></a>

{% endif %}

   </div>

   </a>

<div class="pi-links">

   <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>

</div>
  </div>


<div class="pi-text">
<span class="span-tg" style="color:#e81150;font-weight: bold;">{{good.price}} тг
</span>
<del style="font-size: 13px;">20000 тг</del>
<p style="color:#9a9a9a;">{{good.title}}</p>


</div>
</div>
</div>
{% endfor %}
</div>
</div>
</div>
</div>
</section>

{% endblock %}