* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body {
	background-color:#fff;
	color:#826a69;
	font-family: 'Roboto', sans-serif; 
	font-weight:400;
	font-size:20px;
	text-rendering: optimizeLegibility;
}
html,body{
	margin:0;
	padding:0;
	width:100%;
	overflow-x:hidden;
}
h1{
	margin:0;
}
section{
	padding:100px 0;
	clear:both;
}

.float-clearing{
	zoom:1;
}
.float-clearing:after{
	zoom:1;
	content: " ";
	clear:both;
	display: block;
	height:0;
	visibility: hidden;
}
[class*="col-"] {
  float: left;
  padding: 2%;

}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.header {
	background-image:linear-gradient(rgba(0,0,0,0.7),rgba(229, 167, 75,0.7)), url(../img/navbarbakcg.webp);
	height: 100vh;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.header_2 {


}
.nav_2 {
	background:#231f20;
}
.header-text{
	padding-top: 150px;
}
#header-title{
margin-left: 8.33%;
background:#fff;
max-width: 48%;
padding:15px;
text-transform: uppercase;
letter-spacing: 0.179887em;
font-size: 3.5vw;
line-height: 4.0vw;
}
#header-headline{
	margin-top:20px;
	margin-left:8.33%;
	margin-left: 8.33%;
    background:#fff;
    padding:15px;
    max-width: 25%;
}
#logo-text{
	float: left;
}
#apple_logo{
	height: 50px;
	width:auto;
	float:left;
	margin-left: 30px;
	margin-top:5px;
	padding:4px;
}
#main-nav{
	float:right;
	list-style: none;
}

#main-nav li{
	display: inline-block;
	margin-right: 30px;
	font-size: 0.8em;
	
}
#main-nav li a{
	text-decoration: none;
	text-transform: uppercase;
	color:#826a69;
}

#main-nav li a:hover{
	opacity: 0.5;
	
}

#main-nav li a:active{
	font-size: 14px;
}
nav{
	background-color: #fff;
	height: 70px;
	padding:25px;
	
}
#logo-text a{
	display: inline-block;
	font-size: 1em;
	text-decoration: none;
	text-transform: uppercase;
	color:#826a69;
	letter-spacing: 8px;
	margin-left: 10px;
}
#feature-apple{
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 300;
	text-align: center;
	margin-bottom: 30px;
	margin-left: 20px;
	margin-right: 20px;
}
#feature-apple:after {
	display: block;
	height:2px;
	background-color: #a32547;
	content:" ";
	width:150px;
	margin:0 auto;
	margin-top: 30px;

}
.future-icons{
	font-size: 300%;
	color:#a32547;
	margin-bottom: 10px;
}

/********************************
Animation section 1
*********************************/
.button-color{
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	color:#fff;
	width:200px;
	margin-left:8%;
	text-decoration: none;
	font-family: sans-serif;
	box-sizing: border-box;
	background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b,#03a9f4);
	background-size: 400%;
	font-size:24px;
	border-radius: 40px;
	z-index: 1;
}
.button-color:hover{
	animation: animatecolor 8s linear infinite;
}
@keyframes animatecolor{
	0%{
		background-position: 0%; 
	}
	100%{
		background-position: 400%;
	}
}
.button-color:before{
	content: '';
	position: absolute;
	top: -5px;
	left:-5px;
	right: -5px;
	bottom:-5px;
	z-index:-1;
	background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b,#03a9f4);
	background-size: 400%;
	border-radius: 40px;
	opacity: 0;
	transition: 0.5s;

}
.button-color:hover:before{
	filter: blur(20px);
	opacity: 1;
	animation: animatecolor 8s linear infinite;
}
/********************************/
@import url('https://fonts/googleapis.com/css?family=Bad+Script');
#header-title{

	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Bad Script', cursive;
	background:#000; 
	color:#111;
	border-radius: 15px 15px;
}
#header-title span{
	display: table-cell;
	margin:0;
	padding:0;
	animation: animate 3s linear infinite;
}
#header-title span:nth-child(1){
   animation-delay: 0s;
}

#header-title span:nth-child(2){
   animation-delay: 0.25s;
}
#header-title span:nth-child(3){
   animation-delay: 0.5s;
}
#header-title span:nth-child(4){
   animation-delay: 0.75s;
}
#header-title span:nth-child(5){
   animation-delay: 1s;
}
#header-title span:nth-child(6){
   animation-delay: 1.25s;
}
#header-title span:nth-child(7){
   animation-delay: 1.5s;
}
#header-title span:nth-child(8){
   animation-delay: 1.75s;
}
#header-title span:nth-child(9){
   animation-delay: 2s;
}
#header-title span:nth-child(10){
   animation-delay: 2.25s;
}
#header-title span:nth-child(11){
   animation-delay: 2.5s;
}
@keyframes animate{
  0%,100%{
  	color:#fff;
  	filter:blur(2px);
  	text-shadow: 0 0 10px #00b3ff,
  	            0 0 20px #00b3ff,
  	            0 0 40px #00b3ff,
  	            0 0 80px #00b3ff,
  	            0 0 120px #00b3ff,
  	            0 0 200px #00b3ff,
  	            0 0 300px #00b3ff,
  	            0 0 400px #00b3ff;

  }
  5%,95%{
  	color:#111;
  	filter: blur(0px);
  	text-shadow:none;
  }
}
/********************************/
.Border-box{
	position: absolute;
	top:70%;
	left: 25%;
	transform: translate(-70%,-23%);
	color:#1670f0;
	padding:30px 60px;
	font-size:30px;
	letter-spacing: 2px;
	text-decoration: none;
	text-transform: uppercase;
	box-shadow: 0 20px 50px rgba(0,0,0,0.5);
	overflow: hidden;
}
.Border-box:before{
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	bottom: 2px;
	width:50%;
	background: rgba(255,255,255,0.05);

}
.Border-box span:nth-child(1){
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height: 2px;
	background:linear-gradient(to right, #0c002b, #1779ff);
	animation:animate1 2s linear infinite;
}
@keyframes animate1{
	0%{
		transform:translateX(-100%);
	}
	100%{
		transform: translateX(100%);
	}
}
.Border-box span:nth-child(2){
	position: absolute;
	top:0;
	right:0;
	width:2px;
	height: 100%;
	background:linear-gradient(to bottom, #0c002b, #1779ff);
	animation:animate2 2s linear infinite;
}
@keyframes animate2{
	0%{
		transform:translateY(-100%);
	}
	100%{
		transform: translateY(100%);
	}
}.Border-box span:nth-child(3){
	position: absolute;
	bottom:0;
	left:0;
	width:100%;
	height: 2px;
	background:linear-gradient(to left, #0c002b, #1779ff);
	animation:animate3 2s linear infinite;
}
@keyframes animate3{
	0%{
		transform:translateX(100%);
	}
	100%{
		transform: translateX(-100%);
	}
}.Border-box span:nth-child(4){
	position: absolute;
	top:0;
	left:0;
	width:2px;
	height: 100%;
	background:linear-gradient(to top, #0c002b, #1779ff);
	animation:animate4 2s linear infinite;
}
@keyframes animate4{
	0%{
		transform:translateY(100%);
	}
	100%{
		transform: translateY(-100%);
	}
}
/********************************
Section 2 Images
*********************************/
.images-container{
list-style: none;
width:100%;
}
.images-container li{
	display:block;
	float:left;
	width:25%;
}
.apple-images{
	width:100%;
	overflow: hidden;
	background-color: black;
}
.apple-images img{
	width:100%;
	height:auto;
	transform:scale(1.2);
	transition: transform 0.5s;
	opacity: 0.7;
}
.apple-images img:hover{
	transform:scale(1.05);
	opacity: 1;
}
/********************************
Section 3 adress
*********************************/
.col-3 img{
	width:100%;
}
h3{
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 300;
	text-align: center;
	margin-bottom: 30px;
	font-size: 80%;
	margin-top: 10px;
}
.city-info{
	letter-spacing: 2px;
	font-weight: 300;
	font-size: 70%;
	margin-top: 10px;
}
.info-icon{
	display: inline-block;
	text-align: center;
	width:30px;
	color:#a32547;
}
.cities-section{
	background-color: #f2e3e3;
}
/********************************
Section 4 How to order
*********************************/
#phone-image{
	width:80%;

}
#phone-image-container{
	margin-left: 10%;
	margin-right: 3%;
}
.order-step{
margin-top: 100px;
}
.order-step div{
	color:#a32547;
	background:#e8cfbb ;
	border:2px solid #a32547;
	border-radius: 150px;
	width:50px;
	height:50px;
	text-align: center;
	padding:5px;
	font-size: 150%;
	float:left;
	margin-right: 20px;

}
.order-step p{
	padding-top: 5px;
}
.app-button img{
	height: 40px;
	margin-right: 10px;
}

.order-step:last-of-type{
	margin-bottom: 100px;
}
/********************************
Section 5 CUSTOMERS	
*********************************/

#feedback-section{
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(229, 167, 75,0.7)), url(../img/sec5backg.jpg);
	background-size: cover;
	color:#fff;
	background-attachment: fixed;
	
}

blockquote{
	font-style:italic;
	font-weight: 300;
	line-height: 150%;
}
cite {
	display: block;
	text-align: center;
	margin-bottom: 30px;
}
cite img{
	display:inline-block;
	width:100px;
	height: 90px;
	border:2px solid #a32547;
	border-radius: 50%;
}

blockquote div:before{
	content: "	\201D";
	font-size: 300%;
}
blockquote:after{
	content: "	\201C";
	font-size: 300%;
    line-height: 150%;
}
/********************************
Section 6 Contact Form
*********************************/

#contact-form{
	margin:0 auto;
	width:50%;
}
.col-6 input[type=text],
       input[type=email],
       select,
       textarea {
       	width:100%;
       	padding:5px;
       	border-radius: 5px;
       	border: 2px solid #f2e3e3;;
       }
.col-6 textarea {
	height: 150px;
}
.col-6 input[type=submit]{
	background: #e2baba;
	border-radius: 15px 15px;
	width: 30%;
	opacity: 0.7; 
	padding:3px;
}
.col-6 input[type=submit]:hover{
	opacity: 1; 
}
/********************************
Section 7 Footer
*********************************/
footer{
	font-family: sans-serif;
	color:#367c7a;
}
.footer_2 {
	width:100%;
	background: #00121b;
	display: block;
}
.inner-footer {
	width:95%;
	margin:auto;
	padding:30px 10px;
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	justify-content: center;
}

.footer-iteams {
	width:25%;
	padding: 10px 20px;
	box-sizing: border-box;
}

.header1 {
	padding: 10px 0;
	font-size: 25px;
	color:#fff;
	text-transform: uppercase;

}

.border {
	height:2px;
	width:40px;
	background: #ff9800;
}

.ull{
	list-style: none;
	color:#fff;
	font-size: 15px;
	letter-spacing: 0.5px;
}
.ull a{
	text-decoration: none;
	outline: none;
	color:#fff;
	transition: 0.3s;
}

.ull a:hover {
	color:#ff9800;
}

.ull li {
	margin: 10px 0;
	height: 25px;
}

.ull li i{
	margin-right:20px;
}

.social-media {
	width:100%;
	color:#fff;
	text-align:center;

}

.social-media a {
	text-decoration: none;
}

.social-media i{
	height: 15px;
	width:15px;
	margin:20px 5px;
	padding:10px;
	color:#fff;
	border-radius: 50%;
	border:1px solid grey;
    transition: 0.3s;
}

.social-media i:hover {
	background: grey;
}
.footer-bottom{
	padding:10px;
	background: #3d545f;
	color:#fff;
	font-size:12px;
}
/********************************
Medis Query Styles
*********************************/

@media only screen and (max-width: 970px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }

  #contact-form {
	margin:0 auto;
	width:80%;
}
.button-color{
	margin:0 auto;
	width:25%;
	margin-left: 10%;
}
}
@media only screen and (max-width: 970px){
	.button-color{
	margin:0 auto;
	width:33.3%;
	margin-left: 10%;
}
}
@media only screen and (max-width: 1085px){
    .footer-iteams{
    	width: 50%;
    }

}

@media only screen and (max-width: 600px){

    .footer-iteams{
    	width: 100%;
    }
}

.dropdown .dropbtn { 
  border: none;
  background-color: inherit;
  margin: 0;
  color:#367c7a;
}

.dropbtn:hover {
  opacity: 0.7;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}













.order_section{
	border: 1px solid #e5e5e5;
	border-radius: 5px;
	margin-left: 12.5%;
}
.botton_order {
	width:100%;
	padding:5px 5px;
	margin:5px;
	border-radius: 5px;
	text-align: left;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

/***********************************************
                 Scroll Button
************************************************/
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

/*****************************************/

.section_choose{
	border: 2px solid #e5e5e5;
	border-radius: 5px;
	margin-left: 8.33%;

}
.section_choose_bottom {
	border: 2px solid #fff;
	border-radius: 5px;
	margin-left: -23%;
	

}
.h3_section_choose{
	margin-top: 30%;
}

.h3_section_choose_2{
	margin-top: 19%;
}
/***********************************************
                 filter div elements
************************************************/
.filterDiv {
  float: left;
  width: 250px;
  height:350px;
  padding:10px 10px;
  display: none;
  border:2px solid grey;
  margin-left: 6%;
  margin-top:3%;
}
.filterDiv:hover{
	border:2px solid blue;
	color:blue;
	transition: 0.5s;
}
.filterDiv p:hover{


}

.show {
  display: block;
}

.container {
  margin-top: 20px;
  overflow: hidden;
}

/* Style the buttons */
.active{
	background-color: blue;
}
#myBtnContainer label{
	border: 2px;
	background: #e4e4e4;
	width:100%;
	float: left;
	padding: 5px 5px;
	margin-top: 5px;
	border-radius: 5px;
}

.color_conteiner {
	width: 15px;
	height:15px;
	display:inline-block;
	border-radius: 2px;
	margin:auto 10px;
}
.color_gold{
	background: gold;
}
.color_silver{
    background: silver;
}
.color_gray{
    background: #7f7f7f;
}
.color_green{
    background: #606060;
}

/*.single-goods{
	border: 2px solid grey;
	width:200px;
	height:300px;
	margin:10px;
	float: left;
	text-align:center;
}*/
.imgimg{
	width:230px;
	height:250px;
}

#panel, #flip {
  text-align: center;
  background-color: #e5eecc;
  border:1px solid  #c3c3c3;
}

#panel {
  height:150px;
  display: none;
}

#logo-jquery {
	width:70px;
	height:70px;

}
.slide_jquery {
	
	margin-left: 8.33%;
}






img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
  height:120px;
}

.active,
.demo:hover {
  opacity: 1;
}


.mySlides img{
	width:250px;
	height:260px;
	margin-left: 32%;
}
.container{
	width:100%;
	margin-left: 40%;
}
.charackteristika {
	border:2px solid #f6f6f6;
}
.h2_index3 {
	color:#231f20;

}
#social_char{
	display: inline-block;
	float: left;
	width:100%;
	
}
.icon-char {
	margin-left: 45%;
}
.icon-char i{
	color:black;
	font-size: 15px;
	text-decoration: none;
	padding:10px 10px;

}
.icon-char i:hover{
	color:red;
}





.charackteristika{
    margin-left: 8.33%;
    background: #ffffff;
}
.border_in_index3{
	border: 2px solid #c3c3c3;
	background: gold;
	padding: 5px 5px;
	border-radius: 5px;
	text-align: center;
	color:green;
}
.color_in_index3{
	width:20px;
	height:20px;
	
	
}

.column_10{
	width:100%;
    
}

.body_3{
	background: #f6f6f6;
}

.button_order button{
 padding: 5px 5px;
 margin-left: 500px;
 width:100%;
}
#char_00{
	color:#4acea4;
}
.button_order button {
	background: #0092db;
	opacity: 0.8;
	color:white;
	transition: 0.3s;
}
.button_order button:hover {
	background: #0092db;
	opacity: 1;
}

#showalll{
	display:none;
}
.showordelete{
	font-family: arial;
	color:black;
	padding:30px 200px;
}
#showallorclose{
	margin:10px 200px;
}